<div id="user-nav">
  <% if user_signed_in? %>
    Currently signed in as [ <%= link_to current_user.username, protocol + "#{URLS['root_url']}user_profiles/#{current_user.id}"  %> ]
    [ <%= link_to "Sign Out", destroy_user_session_path %>  ]
  <% else %>
    [ <%= link_to "Register", protocol + "#{URLS['root_url']}user_information/sign_up" %> ]
    [ <%= link_to "Sign In", new_user_session_path %>  ]
  <% end %>
</div>
<div class="clear"></div>
